NODE_ENV=development
PORT=3001
API_PREFIX=api

DATABASE_URL=postgresql://labpath:labpath@localhost:5434/labpath?schema=public
DATABASE_URL_WORKER=postgresql://labpath:labpath@localhost:5434/labpath

REDIS_URL=redis://localhost:6382

JWT_ACCESS_SECRET=change-me-access
JWT_ACCESS_TTL=15m
JWT_REFRESH_SECRET=change-me-refresh
JWT_REFRESH_TTL=7d

CORS_ORIGINS=http://localhost:3000
COOKIE_DOMAIN=localhost
INGEST_SIGNING_SECRET=change-me-ingest
